<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cloud File Storage System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
    <h2>☁ Cloud Storage</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/files">My Files</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>

<div class="container">

    <h1>☁ Cloud File Storage System</h1>

    <h2>Welcome to My Cloud Computing Project</h2>

    <p>
        Store, upload, download and manage your files securely using AWS S3.
    </p>

    <button>Get Started</button>

</div>

    
</body>
</html>