*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f9;
    color:#333;
}

header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:20px;
}

header h1{
    margin-bottom:20px;
}

nav{
    display:flex;
    justify-content:center;
    gap:18px;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

.container{
    width:90%;
    max-width:1200px;
    margin:35px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.btn{
    background:#0d6efd;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.btn:hover{
    background:#0b5ed7;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table th{
    background:#0d6efd;
    color:white;
    padding:12px;
}

table td{
    padding:10px;
    border:1px solid #ddd;
    text-align:center;
}

form input{
    width:100%;
    padding:10px;
    margin-top:6px;
}

.dashboard{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.card{
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    padding:30px;
    text-align:center;
}

.card h3{
    color:#0d6efd;
    margin-bottom:15px;
}

.card h1{
    font-size:42px;
}

footer{
    margin-top:50px;
    background:#222;
    color:white;
    text-align:center;
    padding:18px;
}
.card{
    text-decoration:none;
    color:black;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}
button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#0b5ed7;
}
form{
    margin-top:20px;
}

label{
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-top:5px;
    margin-bottom:15px;
}