<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <nav>

        <h2>Cloud Data Deduplication System</h2>

        <ul>

            <li><a href="/">Home</a></li>

            <li><a href="/dashboard">Dashboard</a></li>

            <li><a href="/upload">Upload CSV</a></li>

            <li><a href="/records">Records</a></li>

        </ul>

    </nav>

    <div class="main-container">

        {% block content %}

        {% endblock %}

    </div>

</body>

</html>